
.skill-content{
    height: auto;
    margin-top: 10px;
}


.carousel-row{
  margin-top: 30px;
  text-align: center;
}

.carousel-row .slider{
  margin-top: 20px;
} 

.align-center{
  margin: auto;
  display: block;
}

.contact-row{
  margin: 30px 0;
  padding: 10px ;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
}

.contact-row .section-title{
  color: black;
}